//Custom Font
@font-face {
  font-family: 'josefinsans-regular';
  src: url("../../../fonts/josefinsans-regular.woff2") format("woff2");
}
@font-face {
  font-family: 'josefinsans-light';
  src: url("../../../fonts/josefinsans-light.woff2") format("woff2");
}
@font-face {
  font-family: 'josefinsans-medium';
  src: url("../../../fonts/josefinsans-medium.woff2") format("woff2");
}
@font-face {
  font-family: 'josefinsans-semibold';
  src: url("../../../fonts/josefinsans-semibold.woff2") format("woff2");
}
@font-face {
  font-family: 'josefinsans-bold';
  src: url("../../../fonts/josefinsans-bold.woff2") format("woff2");
}
  