  //common css
  body{
    font-family: 'josefinsans-regular'!important;
    font-size: 16px!important;
    p{
      
    }
    .btn{
      &.btnsignup{
        background: $btn-bg-color;
        border-radius: 5px;
        font-family: 'josefinsans-regular';
        color: $White-color;
        line-height: 18px;
        font-size: 1.125rem;
        padding: 6px 20px;
        outline: 0;
        box-shadow: unset;
        border: 0;
      }
    }
    .title{
      font-family: 'josefinsans-semibold';
      font-size: 1rem;
      line-height: 16px;
      color: $black-color1;
      text-transform: uppercase;
      position: relative;
      // display: inline-block;
      width: 100%;
      text-align: center;
      padding-bottom: 35px;
      max-width: 70%;
      margin: 0 auto;
      span{
        background: $White-color;
        padding: 0 15px;
        position: relative;
        z-index: 1;
        top: 5px;
      }
      &:after{
        content: "";
        width: 100%;
        height: 1px;
        background: $gray-color;
        display: block;
        position: absolute;
        top: 11px;
        left: 0;
      }
      @media(max-width: 767px){
        max-width: 100%;
      }
    }
  }

  //Layout css
    //Header css
    nav{
      &.navbar{
        padding: 27px 0;
        border-bottom: 1px solid $gray-color;
        background: $White-color;
        .container{
          max-width: 1280px;
          margin: 0 auto;
          width: 100%;
        }
        .navbar-top{
          width: 100%;
          .menu-bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }

    // Main content css
    .main-content{
      margin-top: 100px;
      section{
        padding: 25px 0;
      }
      .container{
        max-width: 1280px;
        margin: 0 auto;
        width: 100%;
        @media(max-width: 1310px){
          max-width: 100%;
        }
      }

      //Event details css
      .event-details-content{
        padding: 0 0 25px;
        .event-banner{
          max-width: 70%;
          margin: 0 auto;
          img{
            width: 100%;
          }
          @media(max-width: 767px){
            max-width: 100%;
          }
        }
      }



      //Information user details css
      .information-ticket-details-content{
        .ticket-details-information{
          max-width: 70%;
          margin: 0 auto;
          border: 1px solid $gray-color;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          border-radius: 15px;
          padding: 30px 30px;
          position: relative;
          .row{
            @media(max-width: 991px){
              justify-content: center;
            }
          }
          .information-details{
            box-sizing: border-box;
            .content-wrap{
              height: 100%;
            }
            @media(max-width: 576px){
              padding-top: 20px;
            }
          }
          .information-event-details{
            .content-wrap{
              height: 100%;
              text-align: center;
              font-family: 'josefinsans-bold';
              font-size: 2rem;
              line-height: 36px;
              color: $black-color1;
              display: flex;
              align-items: center;
              justify-content: center;
              @media(max-width: 1280px){
                font-size: 1.5rem;
              }
              @media(max-width: 576px){
                display: block;
                text-align: center;
              }
            }
            @media(max-width: 991px){
              padding-top: 20px;
            }
          }
          .information-ticket{
            span{
              &.label{
                position: absolute;
                left: auto;
                top: 0;
                // right: 0;
                // right: 35px;
                // right: 40px;
                right: 120px;
                .text{
                  &.free{
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    b{
                      display: block;
                      font-family: 'josefinsans-bold';
                      font-size: 1rem;
                      line-height: 0.8;
                      color: $White-color;
                    }
                  }
                }
                @media(max-width: 1199px){
                  right: 60px;
                }
                @media(max-width: 767px){
                  right: 30px;
                }
              }
            }
            .content-wrap{
              height: 100%;
              position: relative;
              .ticket-buttons{
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                span{
                  &.ticket{
                    display: block;
                    font-family: 'josefinsans-regular';
                    font-size: 1rem;
                    line-height: 20px;
                    text-align: center;
                    color: $btn-bg-color;
                    padding-bottom: 10px;
                  }
                }
                .btn{
                  &.btnsuccess{
                    background: linear-gradient(0deg, $btn-bg-color, $btn-bg-color), linear-gradient(182.78deg, rgba(254, 254, 254, 0) 2.3%, rgba(254, 254, 254, 0) 52.97%, rgba(254, 254, 254, 0.5) 97.68%);
                    border: 1.5px solid $btn-bg-color;
                    border-radius: 5px;
                    font-family: 'josefinsans-regular';
                    color: $White-color;
                    line-height: 18px;
                    font-size: 1.2rem;
                    letter-spacing: 0.05em;
                    padding: 14px 30px;
                    outline: 0;
                    box-shadow: unset;
                    @media(max-width: 1199px){
                      font-size: 1rem;
                      padding: 12px 24px;
                    }
                  }
                }
                @media(max-width: 991px){
                  position: relative;
                  padding-top: 20px;
                }
              }
            }
            &:last-child{
              @media(max-width: 991px){
                padding-top: 0px;
              }
            }
            @media(max-width: 991px){
              padding-top: 20px;
            }
          }
          ul{
            padding: 0;
            margin: 0;
            li{
              list-style-type: none;
              font-family: 'josefinsans-regular';
              font-size: 1rem;
              line-height: 20px;
              color: $black-color1;
              // padding-bottom: 40px;
              padding-bottom: 35px;
              span{
                padding-right: 7px;
              }
              &:last-child{
                padding-bottom: 0;
              }
            }
          }
          @media(max-width: 767px){
            max-width: 100%;
            padding: 20px 20px;
          }
        }
      }



      //Information user details css
      .information-user-details-content{
        .user-details-information{
          max-width: 70%;
          margin: 0 auto;
          border: 1px solid $gray-color;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          border-radius: 15px;
          padding: 30px 30px 5px;
          .row{
            justify-content: center;
          }
          .information{
            margin-bottom: 25px;
            box-sizing: border-box;
            .content-wrap{
              height: 100%;
              // text-align: center;
              display: flex;
              align-items: baseline;
              .label-content{
                padding-left: 7px;
                .label{
                  font-family: 'josefinsans-bold';
                  font-size: 1.2rem;
                  line-height: 25px;
                  color: $black-color1;
                  padding-bottom: 5px;
                  @media(max-width: 1199px){
                    font-size: 1rem;
                  }
                }
                .content{
                  font-family: 'josefinsans-regular';
                  font-size: 1rem;
                  line-height: 20px;
                  color: $black-color1;
                  text-align: left;
                  @media(max-width: 1199px){
                    font-size: 0.9rem;
                  }
                  span{
                    display: block;
                  }
                }
              }
            }
          }
          @media(max-width: 767px){
            max-width: 100%;
            padding: 20px 20px 5px;
          }
        }
      }



      //Organizer information css
      .organizer-information-content{
        // padding-bottom: 0px;
        .organizer-information{
          max-width: 70%;
          margin: 0 auto;
          border: 1px solid $gray-color;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          border-radius: 15px;
          padding: 30px 30px 5px;
          .title{
            // padding-bottom: 10px;
            padding-bottom: 14px;
            border-bottom: 1px solid $gray-color;
            text-align: left;
            max-width: 100%;
            margin: 0;
            &:after{
              content: unset;
            }
          }
          .information-content{
            // padding-top: 20px;
            padding-top: 25px;
            .information{
              margin-bottom: 25px;
              box-sizing: border-box;
              .content-wrap{
                height: 100%;
                display: flex;
                .img{
                  width: 104px;
                  height: 104px;
                  overflow: hidden;
                  img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                  @media(max-width: 576px){
                    margin: 0 auto;
                    text-align: center;
                    margin-bottom: 20px;
                  }
                }
                .name-content-buttons{
                  width: calc(100% - 104px);
                  padding-left: 20px;
                  .name{
                    font-family: 'josefinsans-semibold';
                    font-size: 1rem;
                    line-height: 16px;
                    color: $black-color1;
                    position: relative;
                    padding-bottom: 25px;
                      &:after{
                        content: "";
                        background: $black-color1;
                        display: inline-block;
                        height: 2px;
                        width: 28px;
                        position: absolute;
                        left: 0;
                        right: auto;
                        // bottom: 7px;
                        bottom: 12px;
                      }
                  }
                  .content{
                    font-family: 'josefinsans-regular';
                    font-size: 1rem;
                    line-height: 16px;
                    color: $black-color1;
                    padding-bottom: 13px;
                  }
                  .buttons{
                    a{
                      display: flex;
                      align-items: center;
                      font-family: 'josefinsans-regular';
                      font-size: 0.6875rem;
                      line-height: 16px;
                      color: $black-color1;
                      border: 1px solid $black-color1;
                      width: max-content;
                      border-radius: 0;
                      span{
                        padding-right: 7px;
                      }
                    }
                  }
                  @media(max-width: 576px){
                    width: 100%;
                    padding-left: 0;
                  }
                }
                @media(max-width: 576px){
                  display: block;
                }
              }
            }
          }
          @media(max-width: 767px){
            max-width: 100%;
            padding: 20px 20px 5px;
          }
        }
      }



      //People of events css
      .pepole-of-events-content{
        padding-bottom: 0px;
        .pepole-of-events{
          max-width: 70%;
          margin: 0 auto;
          .row{
            justify-content: center;
          }
          .pepole-event{
            margin-bottom: 25px;
            box-sizing: border-box;
            .content-wrap{
              height: 100%;
              .img{
                width: 112px;
                height: 112px;
                overflow: hidden;
                margin: 0 auto;
                border-radius: 50%;
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              .name{
                font-family: 'josefinsans-semibold';
                font-size: 1rem;
                line-height: 16px;
                color: $black-color1;
                text-align: center;
                padding-top: 20px;
              }
              .designation{
                font-family: 'josefinsans-semibold';
                font-size: 0.6875rem;
                line-height: 16px;
                color: $black-color1;
                text-align: center;
                padding-top: 8px;
              }
            }
          }
          @media(max-width: 767px){
            max-width: 100%;
          }
        }
      }

      //Share wtih friends
      .share-with-friends-content{
        padding-bottom: 50px;
        ul{
          &.share-with-friends{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 70%;
            margin: 0 auto;
            li{
              list-style-type: none;
              background: $White-color;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 50%;
              margin: 0px 15px;
              // padding: 20.5px 24px;
              // padding: 21.5px 22px;
              padding: 19px;
              span{
                i{
                  font-size: 24px;
                  // font-size: 24px;
                  font-size: 30px;
                  vertical-align: middle;
                  @media(max-width: 576px){
                    font-size: 20px;
                  }
                }
              }
              &.facebook{
                span{
                  i{
                    color: $facebook-color;
                  }
                }
              }
              &.twitter{
                span{
                  i{
                    color: $twitter-color;
                  }
                }
              }
              &.google-plus{
                span{
                  i{
                    color: $google-plus-color;
                  }
                }
              }
              &.linkdin{
                span{
                  i{
                    color: $linkdin-color;
                  }
                }
              }
              @media(max-width: 576px){
                padding: 13px 15px;
              }
            }
            @media(max-width: 767px){
              max-width: 100%;
            }
          }
        }
      }
    }

    

    //Footer css
    .footer{
      border-top: 1px solid $gray-color;
      .container{
        max-width: 1280px;
        margin: 0 auto;
        width: 100%;
        @media(max-width: 1310px){
          max-width: 100%;
        }
      }
      .footer-top{
        .footer-logo{
          padding: 15px 0;
          text-align: center;
          // img{
          //   max-width: 265px;
          // }
        }
      }
      .footer-bottom{
        border-top: 1px solid $gray-color;
        p{
          &.copyright{
            font-family: 'josefinsans-semibold';
            font-size: 1rem;
            line-height: 16px;
            color: $black-color1;
            // text-transform: uppercase;
            text-align: center;
            margin-bottom: 0;
            padding: 22px 0;
            @media(max-width: 1199px){
              font-size: 0.8rem;
            }
          }
        }
      }
    }

