//front end css
$White-color: #FFF;
$White-color1: #FEFEFE;
$White-color2:#F5F5F5;
$btn-bg-color: #CA442E;
$gray-color: #DEDDDD;
$gray-color1: #878787;
$black-color: #000000;
$black-color1: #292D32;


//Social Color
$facebook-color: #103699;
$twitter-color: #1AAEEE;;
$google-plus-color: #F01F00;
$linkdin-color: #0058A1;

//Hover State

