<section class="event-details-content">
    <div class="container">
        <div class="event-banner">
            <img src="assets/images/front/events-banner.png" alt="">
        </div>
    </div>
</section>
<section class="information-ticket-details-content">
    <div class="container">
        <div class="ticket-details-information">
            <div class="row">
                <div class="information-details col-sm-6 col-lg-4">
                    <div class="content-wrap">
                        <ul>
                            <li>
                                <span><img src="assets/images/front/location.png" alt=""></span>
                                The small of Asia Area
                            </li>
                            <li>
                                <span><img src="assets/images/front/calendar.png" alt=""></span>
                                10h-17h 12/08/2023
                            </li>
                            <li>
                                <span><img src="assets/images/front/likes.png" alt=""></span>
                                35 Likes
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="information-event-details col-sm-6 col-lg-4">
                    <div class="content-wrap">
                        {{eventDetails.eventName}}
                    </div>
                </div>
                <div class="information-ticket col-sm-6 col-lg-4">
                    <span class="label">
                        <img src="assets/images/front/label.png" alt="">
                        <span class="text free"><b>F</b><b>r</b><b>e</b><b>e</b></span>
                    </span>
                    <div class="content-wrap">
                        <div class="ticket-buttons">
                            <span class="ticket">{{getAvailableTickets()}} Tickets Left</span>
                            <a class="btn btnsuccess" (click)="openTicketModal()">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="information-user-details-content">
    <div class="container">
        <div class="user-details-information">
            <div class="row">
                <div class="information col-sm-6 col-md-4">
                    <div class="content-wrap">
                        <span><img src="assets/images/front/event.png" alt=""></span>
                        <div class="label-content">
                            <div class="label">
                                Event Info
                            </div>
                            <div class="content">
                                {{eventDetails.eventName}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information col-sm-6 col-md-4">
                    <div class="content-wrap">
                        <span><img src="assets/images/front/age-group.png" alt=""></span>
                        <div class="label-content">
                            <div class="label">
                                Age Group
                            </div>
                            <div class="content">
                                {{eventDetails.ageLimit}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information col-sm-6 col-md-4">
                    <div class="content-wrap">
                        <span><img src="assets/images/front/calendar.png" alt=""></span>
                        <div class="label-content">
                            <div class="label">
                                Date & Time
                            </div>
                            <div class="content">
                                <span class="date">{{eventDetails.eventDateString}}</span>
                                <span class="time">{{eventDetails.eventTimeString}} IST</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information col-sm-6 col-md-4">
                    <div class="content-wrap">
                        <span><img src="assets/images/front/location.png" alt=""></span>
                        <div class="label-content">
                            <div class="label">
                                Locations
                            </div>
                            <div class="content">
                                {{eventDetails.address}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pepole-of-events-content">
    <div class="container">
        <div class="title">
            <span>People of event</span>
        </div>
        <div class="pepole-of-events">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-xl-3 pepole-event">
                    <div class="content-wrap">
                        <div class="img">
                            <img src="assets/images/front/people-1.jpg" alt="">
                        </div>
                        <div class="name">
                            Chester Bennington
                        </div>
                        <div class="designation">
                            Lead Vocais
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 pepole-event">
                    <div class="content-wrap">
                        <div class="img">
                            <img src="assets/images/front/people-2.jpg" alt="">
                        </div>
                        <div class="name">
                            Chester Bennington
                        </div>
                        <div class="designation">
                            Lead Vocais
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 pepole-event">
                    <div class="content-wrap">
                        <div class="img">
                            <img src="assets/images/front/people-3.jpg" alt="">
                        </div>
                        <div class="name">
                            Chester Bennington
                        </div>
                        <div class="designation">
                            Lead Vocais
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 pepole-event">
                    <div class="content-wrap">
                        <div class="img">
                            <img src="assets/images/front/people-4.jpg" alt="">
                        </div>
                        <div class="name">
                            Chester Bennington
                        </div>
                        <div class="designation">
                            Lead Vocais
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="organizer-information-content">
    <div class="container">
        <div class="organizer-information">
            <div class="title">
                Organizer Information
            </div>
            <div class="information-content">
                <div class="information">
                    <div class="content-wrap">
                        <div class="img">
                            <img src="assets/images/front/information-1.png" alt="">
                        </div>
                        <div class="name-content-buttons">
                            <div class="name">
                                Jhon Done
                            </div>
                            <div class="content">
                                In publishing and graphic design, Lorem ipsum is a placeholder.
                            </div>
                            <div class="buttons">
                                <a href="#" class="btn btnsend"><span><img src="assets/images/front/message.png" alt=""></span> Contact Organizer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="share-with-friends-content">
    <div class="container">
        <div class="title">
            <span>Share With Friends</span>
        </div>
        <ul class="share-with-friends">
            <li class="facebook">
                <a href=""><span><i class='bx bxl-facebook'></i></span></a>
            </li>
            <li class="twitter">
                <a href=""><span><i class='bx bxl-twitter' ></i></span></a>
            </li>
            <li class="google-plus">
                <a href=""><span><i class='bx bxl-google-plus' ></i></span></a>
            </li>
            <li class="linkdin">
                <a href=""><span><i class='bx bxl-linkedin' ></i></span></a>
            </li>
        </ul>
    </div>
</section>
<app-footer></app-footer>
