<!-- <p>browse-event works!</p> -->
<div class="inner-content">

    <!-- Event Listing -->
    <section class="upcoming-event-content">
        <div class="container">
            <div class="row">
                <div class="event-list col-md-12">
                    <div class="content-wrap">
                        <div class="img">
                            <img src="assets/images/front/events-1.png" alt="">
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="title-name col-sm-7">
                                    <h4>strivedge test</h4>
                                </div>
                                <div class="date-time col-sm-5">
                                    20 April - 12:00 PM IST
                                </div>
                            </div>
                            <div class="row">
                                <div class="ul-content col-sm-8">
                                    <ul>
                                        <li>AFROBEATS</li>
                                        <li>Age 16+</li>
                                        <li>3 Hrs</li>
                                    </ul>
                                </div>
                                <div class="free-tag col-sm-4">
                                    Free
                                </div>
                            </div>
                            <div class="address border-top-content">
                                <span class="locations"><img src="assets/images/front/location-venue.png" alt=""></span>
                                <span class="address">Ahmedabad, Ahmedabad</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-list col-md-12">
                    <div class="content-wrap">
                        <div class="img">
                            <img src="assets/images/front/events-1.png" alt="">
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="title-name col-sm-7">
                                    <h4>strivedge test</h4>
                                </div>
                                <div class="date-time col-sm-5">
                                    20 April - 12:00 PM IST
                                </div>
                            </div>
                            <div class="row">
                                <div class="ul-content col-sm-8">
                                    <ul>
                                        <li>AFROBEATS</li>
                                        <li>Age 16+</li>
                                        <li>3 Hrs</li>
                                    </ul>
                                </div>
                                <div class="free-tag col-sm-4">
                                    Free
                                </div>
                            </div>
                            <div class="address border-top-content">
                                <span class="locations"><img src="assets/images/front/location-venue.png" alt=""></span>
                                <span class="address">Ahmedabad, Ahmedabad</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-list col-md-12">
                    <div class="content-wrap">
                        <div class="img">
                            <img src="assets/images/front/events-1.png" alt="">
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="title-name col-sm-7">
                                    <h4>strivedge test</h4>
                                </div>
                                <div class="date-time col-sm-5">
                                    20 April - 12:00 PM IST
                                </div>
                            </div>
                            <div class="row">
                                <div class="ul-content col-sm-8">
                                    <ul>
                                        <li>AFROBEATS</li>
                                        <li>Age 16+</li>
                                        <li>3 Hrs</li>
                                    </ul>
                                </div>
                                <div class="free-tag col-sm-4">
                                    Free
                                </div>
                            </div>
                            <div class="address border-top-content">
                                <span class="locations"><img src="assets/images/front/location-venue.png" alt=""></span>
                                <span class="address">Ahmedabad, Ahmedabad</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>