<section class="invoice-details-content payment-successfully">
    <div class="container">
        <div class="invoice-details">
            <div class="ticket-left-content text-center" *ngIf="downloadInvoiceUrl">
                <div class="buttons">
                    <a class="btn btnsuccess" [href]="downloadInvoiceUrl">Download</a>
                </div>
                <span class="content">
                        Booking payment completed successfully, you can download ticket directly from webpage or check email for ticket and receipt
                </span>
            </div>
          <div [innerHTML]="htmlSanitizer.bypassSecurityTrustHtml(invoiceData?.['invoice'])"></div>

        </div>
    </div>
</section>

