<!-- <p>home works!</p> -->
<div class="home-content">
    <!-- Home banner -->
    <!-- <section class="home-banner">
      <div class="container">
        <div class="banner-content">
            <div class="content">
              <h2>We are Redefining Events</h2>
              <p>We are thinkers, creators, and doers— all obsessed with customer service and making events a better place to learn, to unite, to educate, to entertain, and to inspire. We understand the complexities of producing successful events and the challenges that come with executing them. Consequently, our platform is specifically designed to minimize technology hurdles and to elevate the event experience for both hosts and attendees.</p>
              <div class="buttons">
                <a routerLink="/custom-event" class="btn btn-talk">Let's Talk</a>
              </div>
            </div>
        </div>
      </div>
    </section> -->

    <!-- About -->
    <section class="about">
      <div class="container">
        <div class="about-content">
          <div class="content">
            <h2>Ticketsplug</h2>
            <p>At Ticketsplug, we are a team of passionate visionaries, innovators, and problem solvers, all dedicated to providing outstanding customer service and transforming the event industry. Our mission is to make events more engaging, inclusive, informative, entertaining, and inspiring. We recognize the intricacies involved in organizing successful events and the obstacles that arise during their execution. As a result, Ticketsplug is purposefully crafted to reduce technological barriers and enhance the event experience for both organizers and participants alike.</p>
            <div class="buttons text-center">
              <a routerLink="/custom-event" class="btn btn-talk">Let's Talk</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Infobar -->
    <section class="infobar">
      <div class="container">
        <div class="title">
            <h2>Infobar</h2>
        </div>
        <div class="infobar-content">
          <div class="row">
            <div class="info-content founded col-sm-6 col-xl-4">
                <div class="content-wrap">
                  <div class="icon">
                    <img src="assets/images/front/founded.png" alt="">
                  </div>
                  <div class="title">
                    <h4>Founded in<br> 2019</h4>
                  </div>
                </div>
            </div>
            <div class="info-content event-hosted col-sm-6 col-xl-4">
              <div class="content-wrap">
                <div class="icon">
                  <img src="assets/images/front/event-hosted.png" alt="">
                </div>
                <div class="title">
                  <h4>50+<br> Events Hosted</h4>
                </div>
              </div>
            </div>
            <div class="info-content attend col-sm-6 col-xl-4">
              <div class="content-wrap">
                <div class="icon">
                  <img src="assets/images/front/attend.png" alt="">
                </div>
                <div class="title">
                  <h4>1000+<br> Attendees</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Event info contact -->
    <section class="event-info-contact">
      <div class="container">
          <div class="title">
            <h2>Events are evolving. Never miss a beat.</h2>
          </div>
          <div class="event-info-content">
            <p>Sign up for our newsletter to receive useful event planning tips, sponsorship strategies, event marketing tactics, product updates and more.</p>
            <!-- <form action="">
              <div class="row">
                <div class="form-group col-md-5">
                  <img src="assets/images/front/user.png" alt="" class="icon">
                  <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group col-md-5">
                  <img src="assets/images/front/user-sms-edit.png" alt="" class="icon">
                  <input type="text" class="form-control" placeholder="Email Address">
                </div>
                <div class="form-group buttons col-md-2">
                  <button class="btn btnsuccess btn-submit">Submit</button>
                </div>
              </div>
            </form> -->
          </div>
      </div>
    </section>
</div>
<app-footer></app-footer>